<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weilu.deer">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- io.flutter.app.FlutterApplication is an android.app.Application that
         calls FlutterMain.startInitialization(this); in its onCreate method.
         In most cases you can leave this as-is, but you if you want to provide
         additional functionality it is fine to subclass or reimplement
         FlutterApplication and put your custom class here. -->
    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:name=".MyApp"
        android:label="Flutter Deer"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:name=".MainActivity"
            android:theme="@style/LaunchTheme"
            android:windowSoftInputMode="adjustResize">
            <!-- Specify that the launch screen should continue being displayed -->
            <!-- until Flutter renders its first frame. -->
            <meta-data
                android:name="io.flutter.embedding.android.SplashScreenDrawable"
                android:resource="@drawable/launch_background" />

            <!-- Theme to apply as soon as Flutter begins rendering frames -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="29017a09c0b0279853577be7df682513"/>

        <!-- 兼容7.0 -->
        <provider
            android:name=".DeerPickerProvider"
            android:authorities="${applicationId}.Deer"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <meta-data android:name="android.max_aspect" android:value="2.4"/>
        <!-- 全屏使用刘海区域-->
        <!-- 华为 -->
        <meta-data android:name="android.notch_support" android:value="true" />
        <!-- 小米 Android O （https://dev.mi.com/console/doc/detail?pId=1341）-->
        <meta-data android:name="notch.config" android:value="portrait" />
        <!-- 其他品牌或系统版本使用官方方法，设置shortEdges-->

    </application>
</manifest>
